table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th {
    font-weight: bold;
    font-size: 20px;
    border-bottom: 2px solid #444 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 10px;
}

tr {
    position: relative;
}

td {
    padding: 5px;
    border-bottom: 1px solid #333 !important;
}


tr:hover .delete-btn {
    opacity: 1;
}

#main-div {
    background-color: rgb(52, 52, 52);
    height: 100vh;
    padding: 20px;
}

#history-table {
    background-color: #171717;
    border-radius: 10px;
    width: 100%;
    margin: auto;
    color: white;
    text-align: center;
}

.expanded-table {
    padding: 20px;
    background-color: #222;
    border-radius: 5px;
    margin: 10px;
}

.inner-table {
    width: 100%;
}

.inner-table th, 
.inner-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #444;
}

.data-entry:hover {
    background-color: #333;
    transition: background-color 0.2s ease;
}

.delete-btn {
    position: absolute;
    z-index: 1;
    right: 5px;
    top: 30%;
    transform: translateY(-50%);
    color: white;
    background-color: #ee0e0e;
    border: none;
    padding: 7px;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.delete-btn:hover {
    background-color: #a30f0f;
}