.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Jersey+20&display=swap');

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: linear-gradient(to bottom right, #7772ffb0, #110addc0, #000111);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#home-div {
  width: 80%;
  max-width: 600px;
  text-align: center;
  position: relative;
  margin: 0 auto 0 15%;
  padding-top: 20vh;
  color:white;
}

#home-heading {
  font-family: "Jersey 20", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 600%;
  text-align: left;
  margin: 0;
  text-shadow: 0px 4px 4px #00000066;

}

#home-body {
  font-family: "Gothic A1", serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  font-size: 150%;
  text-shadow: 0px 4px 4px #00000066;

}